[Unit]
Description=Aliveness Service
Requires=dbus.socket
Wants=network-online.target
After=dbus.socket network-online.target

[Service]
ExecStart=/usr/bin/aliveness
TimeoutStopSec=10
StandardOutput=journal
# Type=notify
# NotifyAccess=main
User=nao
Group=nao

[Install]
WantedBy=default.target
